.custom-checkbox:checked + label::before {
  border-color: #ffffff;
  background-color: #6C82CF;
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #6C82CF;
}

#main {
  display: flex;
}
#content {
  padding-left: 250px;
}
#fful {
  height: 890px;
  width: 250px;
  box-shadow: 1px 2px 4px #6C82CF;
  border-radius: 5px;
  padding-left: 20px;
}

h1 {
  font-size: 35px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#card_price {
  padding: 22px;
  font-weight: 900;
  font-size: 24px;
  color: #222222;
  padding-left: 40px;
  margin-block-end: -10px;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
}
.custom-checkbox + label::before {
  content: "";
  width: 1em;
  height: 1em;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-right: 0.5em;
  background-size: 100% 100%;
}

.but {
  width: 200px;
  font-weight: 400;
  font-size: 17px;
  color: #474747;
  padding: 10px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  background-color: #ffffff;
}

.zag {
  font-weight: bold;
  font-size: 18px;
}

img {
  width: 140px;
  height: 140px;
}
#card {
  height: 160px;
  width: 730px;
  display: flex;
  box-shadow: 1px 2px 4px #6C82CF;
  border-radius: 5px;
  color: #222222;
}

#card_left {
  display: flex;
  margin-block: auto;
}
#card_right {
  margin-left: auto;
  margin-block: -20px;
}

#card_price{
  padding: 22px;
  font-weight: 900;
  font-size: 24px;
  color: #222222;
  padding-left: 40px;
  margin-block-end: -10px;
}

#card_name{
  font-weight: 400;
  font-size: 20px;
}

.btnbuy{
  width: 100px;
  height: 30px;
  font-size: 17px;
  border-radius: 5px; 
}

.btnsell{
  width: 100px;
  height: 30px;
  font-size: 17px;
  border-radius: 5px; 
}

#card_bas{
  margin-left: 40px;
}

#cart{
  width: 30px;
  height: 30px; 
}

#itog{
  color: #ffffff;
  display: flex;
  font-size: 30px;
}













html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.wrapper {
  width: 2000px;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid darkcyan;
  padding: 10px 30px;
  color: darkcyan;
  text-transform: uppercase;
  font-family: arial;
  cursor: pointer;
  transition: .3s all;
  
}

.popup_1 {
  display: block;
  width: 1024px;
  height: 900px;
  background-color: gray;
  padding: 30px;
  text-transform: uppercase;
  font-family: arial;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -999px;
  transition: .60s all linear;
  border-radius: 50px;
  
}


.popup_1 input {
  width: 100%;
  border: 0;
  margin: 10px 0;
  height: 35px;
  padding: 5px;
  outline: none;
}

.submit {
  background-color: #fff;
  cursor: pointer;
}

#callback_1 {
  display: none;
}

#callback_1:checked~.popup_1 {
  top: 100px;
  right: 0;
  box-shadow: 0px 2px 400px 2000px rgba(0, 0, 0, 0.89);   
}


